$margin : 0 auto;
@mixin hh{
    width: 960px;
    height: 450px;
    margin-top: 30px;
    padding-top: 30px;
    box-shadow: 2px 2px 20px #999;
    margin-left: 20px;
}
.banner_small {
    margin: $margin;
    width: 1200px;
    height: 202px;
    background-image: url(../img/banner_team.png);
}
.apply{
    	width:1000px;
    	height:600px;
    	margin:$margin;
    h2{
        float: left;
        display: block;
        width: 100px;
        height: 50px;
        line-height: 70px;
        font-weight: 300;
    }
}
.apply_title{
	width:1000px;
	height:70px;
	border-bottom:3px solid #F2F2F2;;
}
.apply_form{
 @include hh;
}
.form{
    	width:980px;
    	height:450px;
    	margin: $margin;

    label{
    	width:50%;
    	float:left;
    	margin:20px 0;
    }

    input{
	   text-align:left;
    }
}
